# Configuration file

##########################################################################################################
# item_arrow;0
#--------------------------------------------------------------------------------------------------------#
# Arrow
##########################################################################################################

"item_arrow;0" {
    B:enabled=true
    I:max_spawn_count=7
    I:min_spawn_count=2
    I:spawn_weight=30
}


##########################################################################################################
# item_crystal_shard;0
#--------------------------------------------------------------------------------------------------------#
# Kuro Crystal Shard
##########################################################################################################

"item_crystal_shard;0" {
    B:enabled=true
    I:max_spawn_count=9
    I:min_spawn_count=2
    I:spawn_weight=3
}


##########################################################################################################
# item_crystal_shard;1
#--------------------------------------------------------------------------------------------------------#
# Karmir Crystal Shard
##########################################################################################################

"item_crystal_shard;1" {
    B:enabled=true
    I:max_spawn_count=9
    I:min_spawn_count=2
    I:spawn_weight=3
}


##########################################################################################################
# item_crystal_shard;10
#--------------------------------------------------------------------------------------------------------#
# Asveste Crystal Shard
##########################################################################################################

"item_crystal_shard;10" {
    B:enabled=true
    I:max_spawn_count=9
    I:min_spawn_count=2
    I:spawn_weight=3
}


##########################################################################################################
# item_crystal_shard;11
#--------------------------------------------------------------------------------------------------------#
# Kitrino Crystal Shard
##########################################################################################################

"item_crystal_shard;11" {
    B:enabled=true
    I:max_spawn_count=9
    I:min_spawn_count=2
    I:spawn_weight=3
}


##########################################################################################################
# item_crystal_shard;12
#--------------------------------------------------------------------------------------------------------#
# Galazio Crystal Shard
##########################################################################################################

"item_crystal_shard;12" {
    B:enabled=true
    I:max_spawn_count=9
    I:min_spawn_count=2
    I:spawn_weight=3
}


##########################################################################################################
# item_crystal_shard;13
#--------------------------------------------------------------------------------------------------------#
# Kurauri Crystal Shard
##########################################################################################################

"item_crystal_shard;13" {
    B:enabled=true
    I:max_spawn_count=9
    I:min_spawn_count=2
    I:spawn_weight=3
}


##########################################################################################################
# item_crystal_shard;14
#--------------------------------------------------------------------------------------------------------#
# Portokali Crystal Shard
##########################################################################################################

"item_crystal_shard;14" {
    B:enabled=true
    I:max_spawn_count=9
    I:min_spawn_count=2
    I:spawn_weight=3
}


##########################################################################################################
# item_crystal_shard;15
#--------------------------------------------------------------------------------------------------------#
# Tahara Crystal Shard
##########################################################################################################

"item_crystal_shard;15" {
    B:enabled=true
    I:max_spawn_count=9
    I:min_spawn_count=2
    I:spawn_weight=3
}


##########################################################################################################
# item_crystal_shard;2
#--------------------------------------------------------------------------------------------------------#
# Kijani Crystal Shard
##########################################################################################################

"item_crystal_shard;2" {
    B:enabled=true
    I:max_spawn_count=9
    I:min_spawn_count=2
    I:spawn_weight=3
}


##########################################################################################################
# item_crystal_shard;3
#--------------------------------------------------------------------------------------------------------#
# Ruskea Crystal Shard
##########################################################################################################

"item_crystal_shard;3" {
    B:enabled=true
    I:max_spawn_count=9
    I:min_spawn_count=2
    I:spawn_weight=3
}


##########################################################################################################
# item_crystal_shard;4
#--------------------------------------------------------------------------------------------------------#
# Nila Crystal Shard
##########################################################################################################

"item_crystal_shard;4" {
    B:enabled=true
    I:max_spawn_count=9
    I:min_spawn_count=2
    I:spawn_weight=3
}


##########################################################################################################
# item_crystal_shard;5
#--------------------------------------------------------------------------------------------------------#
# Zambarau Crystal Shard
##########################################################################################################

"item_crystal_shard;5" {
    B:enabled=true
    I:max_spawn_count=9
    I:min_spawn_count=2
    I:spawn_weight=3
}


##########################################################################################################
# item_crystal_shard;6
#--------------------------------------------------------------------------------------------------------#
# Vadali Crystal Shard
##########################################################################################################

"item_crystal_shard;6" {
    B:enabled=true
    I:max_spawn_count=9
    I:min_spawn_count=2
    I:spawn_weight=3
}


##########################################################################################################
# item_crystal_shard;7
#--------------------------------------------------------------------------------------------------------#
# Argia Crystal Shard
##########################################################################################################

"item_crystal_shard;7" {
    B:enabled=true
    I:max_spawn_count=9
    I:min_spawn_count=2
    I:spawn_weight=3
}


##########################################################################################################
# item_crystal_shard;8
#--------------------------------------------------------------------------------------------------------#
# Ykri Crystal Shard
##########################################################################################################

"item_crystal_shard;8" {
    B:enabled=true
    I:max_spawn_count=9
    I:min_spawn_count=2
    I:spawn_weight=3
}


##########################################################################################################
# item_crystal_shard;9
#--------------------------------------------------------------------------------------------------------#
# Ruzova Crystal Shard
##########################################################################################################

"item_crystal_shard;9" {
    B:enabled=true
    I:max_spawn_count=9
    I:min_spawn_count=2
    I:spawn_weight=3
}


##########################################################################################################
# item_mfr_safarinet_singleuse;0
#--------------------------------------------------------------------------------------------------------#
# item.mfr.safarinet.singleuse.name
##########################################################################################################

"item_mfr_safarinet_singleuse;0" {
    B:enabled=true
    I:max_spawn_count=1
    I:min_spawn_count=1
    I:spawn_weight=25
}


